.messageList
{
  margin-top: 2px;
  margin-bottom: 2px;
  box-sizing: border-box;
  height: calc(100vh - 175px);
  overflow-y: auto;
  overflow-x: auto;
}

::-webkit-scrollbar 
{
  display: none;
}

.bubble
{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding: 5px;
  width: 60%;
  margin-bottom: -1em;
  border-radius: 10px;
  color: white;
}
